In [2]:
import csv
import pandas as pd
import numpy as np

In [1]:
import os

In [15]:
os.getcwd()

'D:\\GitHub\\python_course\\P2_Movielens'

In [13]:
os.chdir('../ml-dataset')

In [14]:
os.getcwd()

'D:\\GitHub\\python_course\\P2_Movielens'

In [2]:
movies=pd.read_csv("./ml-dataset/movies.csv")

In [3]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
links=pd.read_csv("ml-dataset/links.csv")
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [5]:
ratings=pd.read_csv("ml-dataset/ratings.csv")
ratings.head(10)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

In [6]:
ratings["timestamp"]=pd.to_datetime(ratings["timestamp"],unit='s')

In [7]:
ratings.head(10)

   userId  movieId  rating           timestamp
0       1      110     1.0 2015-03-09 22:52:09
1       1      147     4.5 2015-03-09 23:07:15
2       1      858     5.0 2015-03-09 22:52:03
3       1     1221     5.0 2015-03-09 22:52:26
4       1     1246     5.0 2015-03-09 22:52:36
5       1     1968     4.0 2015-03-09 23:02:28
6       1     2762     4.5 2015-03-09 22:48:20
7       1     2918     5.0 2015-03-09 22:53:13
8       1     2959     4.0 2015-03-09 22:53:21
9       1     4226     4.0 2015-03-09 23:03:48

In [8]:
years=[]
import numpy as np
for i in range(len(movies)):
    title=movies.iloc[i]["title"]
    if "(" in title:
        try:
            year=int(movies.iloc[i]["title"].rsplit("(",1)[1].split(")")[0])
        except ValueError:
            year=np.nan
    years.append(year)

In [9]:
years_sr=pd.Series(years)

In [10]:
movies["release_year"]=years_sr.values
movies.head(5)

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0
4,5,Father of the Bride Part II (1995),Comedy,1995.0

In [11]:
genres=movies["genres"]

In [12]:
genre=list(genres)

In [13]:
genres_list=[]
for g in genre:
    items=g.split("|")
    for item in items:
        if item in genres_list:
            pass
        else:
            genres_list.append(item)
print(genres_list)

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical', 'Western', 'Film-Noir', '(no genres listed)']

In [14]:
for genre in genres_list:
    movies[genre]=0

In [15]:
movies.head(5)

,movieId,title,genres,release_year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
for i in range(len(movies)):
    for nm in genres_list:
        if nm in movies.iloc[i]["genres"]:
            movies.loc[i,nm]=1
        else:
            pass
movies.head(10)

,movieId,title,genres,release_year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995.0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,Heat (1995),Action|Crime|Thriller,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Sabrina (1995),Comedy|Romance,1995.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7,8,Tom and Huck (1995),Adventure|Children,1995.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,Sudden Death (1995),Action,1995.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
import numpy as np

In [18]:
type(movies.iloc[0]["release_year"])

numpy.float64

In [19]:
max_yr=int(movies["release_year"].max())
min_yr=int(movies["release_year"].min())
print(min_yr,max_yr)

1874 2017

In [20]:
all_years=[]
for i in range(min_yr,max_yr+1):
    all_years.append(i)
print(all_years)

[1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [21]:
allyears_sr=pd.Series(all_years)
genre_year=allyears_sr.to_frame(name="Year")

In [22]:
for genre in genres_list:
    genre_year[genre]=0

In [23]:
for y in range(len(genre_year)):
    for m in range(len(movies)):
        for col in range(4,24):
            if movies.iloc[m,col]==1 and genre_year.iloc[y,0]==movies.iloc[m,3]:
                genre_year.iloc[y,col-3]=genre_year.iloc[y,col-3]+1

genre_year.head(25)

,Year,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1874,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1875,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1876,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1877,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1879,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1880,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1881,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1882,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1883,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1884,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1885,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1886,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1887,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,1888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
15,1889,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1890,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
17,1891,0,0,0,0,0,0,0,1,0,...,0,0,0,0,4,0,0,0,0,2
18,1892,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
19,1893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,1894,0,0,0,1,0,0,0,0,0,...,0,0,0,0,10,0,1,0,0,1
21,1895,0,0,0,1,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,3
22,1896,0,0,0,1,1,1,0,0,0,...,3,0,0,0,6,0,0,0,0,4
23,1897,0,0,0,0,1,0,1,1,0,...,1,0,0,0,1,1,0,0,0,4
24,1898,0,0,0,2,6,0,1,0,0,...,0,0,1,0,1,0,0,0,0,4

In [24]:
graph=pd.DataFrame(data=genre_year,index=genre_year.Year, columns=['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical', 'Western', 'Film-Noir', '(no genres listed)'],copy=True)

In [25]:
graph=genre_year[['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical', 'Western', 'Film-Noir', '(no genres listed)']].copy()

In [26]:
graph.index=genre_year['Year']
graph

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
Year,,,,,,,,,,,,,,,,,,,,
1874,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1875,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1876,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1877,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1878,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1879,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1880,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1881,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1882,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1883,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1884,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1885,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1886,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1887,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1888,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
1889,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1890,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
1891,0,0,0,0,0,0,0,1,0,0,0,0,0,0,4,0,0,0,0,2
1892,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
1893,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1894,0,0,0,1,0,0,0,0,0,0,0,0,0,0,10,0,1,0,0,1
1895,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,3
1896,0,0,0,1,1,1,0,0,0,0,3,0,0,0,6,0,0,0,0,4
1897,0,0,0,0,1,0,1,1,0,0,1,0,0,0,1,1,0,0,0,4
1898,0,0,0,2,6,0,1,0,0,0,0,0,1,0,1,0,0,0,0,4
1899,0,0,1,2,3,0,0,0,0,0,2,0,1,0,0,0,0,0,0,1
1900,0,0,0,2,2,2,1,1,0,1,0,0,0,0,3,0,0,0,0,6
1901,0,0,0,4,2,0,1,0,1,0,1,0,1,0,4,0,0,0,0,2
1902,2,0,1,0,2,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
1903,1,0,0,5,9,0,1,1,1,0,3,0,0,0,2,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,33,28,25,150,35,54,166,76,44,70,78,20,48,0,20,15,13,3,1,29
1989,35,22,22,151,28,44,165,83,37,52,65,12,48,0,16,19,5,2,2,33
1990,41,17,25,138,27,50,171,71,43,70,69,13,41,0,17,11,5,5,6,35
1991,32,14,22,157,29,59,182,77,46,59,46,20,39,1,13,5,11,7,0,16
1992,30,28,25,164,26,62,195,68,47,67,40,20,27,1,23,8,7,4,2,31
1993,39,20,33,156,28,71,222,104,42,82,44,27,43,0,19,11,11,9,1,25
1994,62,24,42,190,30,73,238,94,42,79,32,16,37,4,43,11,8,9,1,36
1995,49,29,42,160,30,80,265,104,58,87,48,29,55,4,38,21,9,12,1,43
1996,52,24,36,209,26,94,295,82,61,102,40,19,45,0,37,15,12,7,1,28
1997,55,30,54,206,43,100,310,96,69,111,37,29,50,3,46,18,15,5,5,40
1998,50,36,50,229,38,126,338,97,84,122,42,27,53,3,53,23,15,5,2,45
1999,39,37,47,237,38,112,330,92,56,122,55,28,44,4,54,12,7,7,1,39
2000,38,41,48,276,38,130,405,88,76,129,69,30,41,1,64,13,13,5,0,46
2001,56,39,46,268,48,141,410,116,81,131,63,46,47,3,72,28,18,6,1,54
2002,69,46,56,279,44,141,450,123,113,157,66,50,66,2,79,27,18,3,0,43
2003,66,50,68,298,41,132,422,142,102,166,80,51,55,4,92,27,21,7,2,48
2004,89,49,50,316,65,154,493,157,82,154,94,48,59,3,114,31,20,6,0,51
2005,78,47,69,341,55,177,556,157,106,194,122,61,56,5,131,26,24,6,3,55
2006,101,72,74,380,76,183,607,156,131,252,147,81,64,8,152,33,22,4,1,51
2007,78,74,58,373,72,189,636,162,132,246,166,61,75,8,167,44,33,8,3,65
2008,111,81,70,410,81,199,650,211,133,275,160,83,85,9,214,51,27,10,3,62
2009,110,81,78,468,88,211,703,232,141,325,195,100,117,11,241,43,29,11,3,46
2010,82,80,82,415,77,198,656,199,118,260,160,73,81,17,237,33,24,16,2,62
2011,108,88,93,470,85,195,726,223,116,270,144,69,103,24,252,39,18,13,4,60
2012,93,88,74,461,69,185,692,205,127,275,185,68,92,32,282,37,26,8,2,106
2013,119,93,72,482,83,195,765,207,140,321,183,94,114,32,292,27,21,7,1,105
2014,115,74,93,516,75,202,735,227,150,323,192,86,120,15,314,36,15,14,0,142
2015,121,77,96,488,76,162,692,211,106,334,225,89,129,1,270,29,3,10,0,179
2016,92,76,68,444,54,153,572,191,88,262,146,53,88,0,179,25,0,10,0,143
2017,32,25,17,137,19,42,168,81,41,93,50,21,48,0,51,14,0,2,0,32

In [27]:
import matplotlib.pyplot as plt
plt.figure()
graph.plot.bar(stacked=True,figsize=(20,10))
plt.show()

In [28]:
new_movies=movies.copy()

In [ ]:
new_movies['Adventure']=0
new_movies['Animation']=0 
new_movies['Children']=0
new_movies['Comedy']=0
new_movies['Fantasy']=0
new_movies['Romance']=0
new_movies['Drama']=0
new_movies['Action']=0
new_movies['Crime']=0
new_movies['Thriller']=0
new_movies['Horror']=0
new_movies['Mystery']=0
new_movies['Sci-Fi']=0
new_movies['IMAX']=0
new_movies['Documentary']=0
new_movies['War']=0
new_movies['Musical']=0
new_movies['Western']=0
new_movies['Film-Noir']=0
new_movies['(no genres listed)']=0

In [ ]:
new_movies.head(5)
for i in range(len(new_movies)):
    for j in range(len(ratings)):
        if new_movies.iloc[i]["movieId"]==ratings.iloc[j]["movieId"]:
            for col in range(4,24):
                if movies.iloc[i,col]>0:
                    new_movies.iloc[i,col]=new_movies.iloc[i,col]+ratings.iloc[j,2]
            break
            
new_movies.head(10)