In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv("./ml-dataset/movies.csv")

In [3]:
links=pd.read_csv("ml-dataset/links.csv")
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [5]:
ratings=pd.read_csv('ml-dataset/ratings_small.csv')

In [160]:
last_10yr_id = pd.read_csv('mID.csv', header=None)

In [167]:
last_10yr_id = last_10yr_id[0]

In [168]:
tID = links[links.movieId.isin(last_10yr_id)].tmdbId

In [169]:
tID.size

5985

In [170]:
import tmdbsimple as tmdb
tmdb.API_KEY = 'b93b517fa262fe2fdf374829ee9e2fb5'

In [171]:
#https://pypi.org/project/ratelimiter/

In [172]:
from ratelimiter import RateLimiter

In [185]:
#movie = tmdb.Movies(603)
movie = tmdb.Movies(tID.iloc[0])
tmovies = pd.DataFrame.from_dict(movie.info(), orient='index')

In [ ]:
rate_limiter = RateLimiter(max_calls=4, period=1)

checklist = []
count=0
length = len(tID)
for id in tID.iloc[1:]:
    try:
        with rate_limiter:
            movie = tmdb.Movies(id)
            tmovies = pd.concat([tmovies, pd.DataFrame.from_dict(movie.info(), orient='index')], axis=1 )
            print(count, 'of', length)
            count += 1
    except:
        checklist.append(id)
        count += 1

0 of 5985
1 of 5985
3 of 5985
4 of 5985
5 of 5985
6 of 5985
8 of 5985
9 of 5985
10 of 5985

From cffi callback <function _verify_callback at 0x00000292CECF2D08>:
Traceback (most recent call last):
  File "C:\Users\Yonge\Anaconda3\lib\site-packages\OpenSSL\SSL.py", line 310, in wrapper
    @wraps(callback)
KeyboardInterrupt

13 of 5985
14 of 5985
15 of 5985
16 of 5985
17 of 5985
18 of 5985
19 of 5985

From cffi callback <function _verify_callback at 0x00000292CE0E6D90>:
Traceback (most recent call last):
  File "C:\Users\Yonge\Anaconda3\lib\site-packages\OpenSSL\SSL.py", line 310, in wrapper
    @wraps(callback)
KeyboardInterrupt

21 of 5985
22 of 5985
23 of 5985
24 of 5985
25 of 5985
26 of 5985
27 of 5985
28 of 5985
29 of 5985
30 of 5985
31 of 5985
32 of 5985
33 of 5985
34 of 5985
35 of 5985
36 of 5985
37 of 5985
38 of 5985
39 of 5985
40 of 5985
41 of 5985
42 of 5985
43 of 5985
44 of 5985
45 of 5985
46 of 5985
47 of 5985
48 of 5985
49 of 5985
50 of 5985
51 of 5985
52 of 5985
54 of 5985
55 of 5985
56 of 5985
57 of 5985
58 of 5985
59 of 5985
60 of 5985
61 of 5985
62 of 5985
63 of 5985
65 of 5985
66 of 5985
67 of 5985
69 of 5985